<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Editar Usuario</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                    <div *ngIf="nombre?.errors?.['required']" class="text-danger">El nombre es requerido</div>
                </div>
                <div class="form-group">
                    <label for="apellidoPaterno">Apellido Paterno:</label>
                    <input type="text" class="form-control" id="apellidoPaterno" formControlName="apellidoPaterno"
                        required>
                    <div *ngIf="apellidoPaterno?.errors?.['required']" class="text-danger">El apellido paterno es
                        requerido
                    </div>
                </div>
                <div class="form-group">
                    <label for="apellidoMaterno">Apellido Materno:</label>
                    <input type="text" class="form-control" id="apellidoMaterno" formControlName="apellidoMaterno">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                    <div *ngIf="email?.errors?.['required']" class="text-danger">El email es requerido</div>
                </div>
                <div class="form-group">
                    <label for="rol">Rol:</label>
                    <select class="form-control" id="rol" formControlName="rol" required>
                        <option value="">Seleccione un rol</option>
                        <option value="Profesor">Profesor</option>
                        <option value="Coordinador">Coordinador</option>
                        <option value="Evaluador">Evaluador</option>
                    </select>
                    <div *ngIf="rol?.errors?.['required']" class="text-danger">El rol es requerido</div>
                </div>
                <div class="form-group" *ngIf="mostrarSelectCoordinador()">
                    <label for="coordinadorId">Coordinador</label>
                    <select class="form-control" formControlName="coordinadorId">
                        <option *ngFor="let usuario of usuarios" [value]="usuario.id">
                            {{ usuario.nombre }} {{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno }}
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Editar Usuario</button>
            </form>
        </div>
    </div>
</div>