<nav class="bg-light sidebar" *ngIf="authService.isLoggedIn()">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="toggle()">
                    <i class="fa fa-fw fa-home"></i>
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/documentos" routerLinkActive="active" (click)="toggle()">
                    <i class="fa fa-fw fa-money"></i>
                    Documentos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/encuestas" routerLinkActive="active" (click)="toggle()">
                    <i class="fa fa-fw fa-money"></i>
                    Encuestas
                </a>
            </li>
            <li class="nav-item" *ngIf="authService.isCoordinador()">
                <a class="nav-link" routerLink="/profesores" routerLinkActive="active" (click)="toggle()">
                    <i class="fa fa-fw fa-money"></i>
                    Profesores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/mi-perfil" routerLinkActive="active" (click)="toggle()">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                    Perfil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reuniones" routerLinkActive="active" (click)="toggle()">
                    <i class="fa fa-fw fa-money"></i>
                    Reuniones
                </a>
            </li>
            <li class="nav-item" *ngIf="authService.isAdmin()">
                <a class="nav-link" routerLink="/usuarios" routerLinkActive="active" (click)="toggle()">
                    <i class="fa fa-fw fa-users"></i>
                    Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logout()">
                    Salir
                </a>
            </li>
        </ul>
    </div>
</nav>