<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Listado de Encuestas Contestadas</h2>
        </div>
        <div class="col-md-6 text-right align-self-center" *ngIf="esPropietario">
            <button routerLink="/encuestas/contestar" class="btn btn-primary">Crear nueva encuesta</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" *ngIf="!esProfesor">Profesor</th>
                    <th scope="col">Semestre</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Unidad de Aprendizaje</th>
                    <th scope="col">Cantidad de Alumnos</th>
                    <th scope="col">Cantidad de Aprobados</th>
                    <th scope="col">Cantidad de Reprobados</th>
                    <th scope="col" *ngIf="esPropietario">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let encuesta of encuestas">
                    <td *ngIf="!esProfesor">{{userService.nombreCompleto(encuesta.usuario)}}</td>
                    <td>{{ encuesta.semestreGrupo.semestre.nombre }}</td>
                    <td>{{ encuesta.semestreGrupo.grupo.nombre }}</td>
                    <td>{{ encuesta.unidadDeAprendizaje.nombre }}</td>
                    <td>{{ encuesta.cantidadAlumnos }}</td>
                    <td>{{ encuesta.cantidadAprobados }}</td>
                    <td>{{ encuesta.cantidadReprobados }}</td>
                    <td *ngIf="esPropietario">
                        <a routerLink="/encuestas/{{ encuesta.id }}/editar/" class="btn btn-primary btn-sm mr-1">
                            <i class="bi bi-pencil-square">Editar</i>
                        </a>
                        <button class="btn btn-sm btn-danger" (click)="eliminarEncuesta(encuesta)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>