<div class="container mt-5">
    <div class="container">
        <h1 class="text-center">Contestar nueva Encuesta</h1>
        <form [formGroup]="encuestaForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="semestre" class="form-label">Semestre</label>
                <select class="form-control" formControlName="semestre" id="semestre" (change)="onSemestreChange()">
                    <option value="">Seleccione un semestre</option>
                    <option *ngFor="let semestre of semestres" [value]="semestre.id">{{ semestre.nombre }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="grupo" class="form-label">Grupo</label>
                <select class="form-control" formControlName="grupo" id="grupo">
                    <option value="">Seleccione un grupo</option>
                    <option *ngFor="let grupo of grupos" [value]="grupo.id">{{ grupo.nombre }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="unidadDeAprendizaje" class="form-label">Unidad de Aprendizaje</label>
                <select class="form-control" formControlName="unidadDeAprendizaje" id="unidadDeAprendizaje">
                    <option value="">Seleccione una unidad de aprendizaje</option>
                    <option *ngFor="let unidad of unidades" [value]="unidad.id">{{ unidad.nombre }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="cantidadAprobados" class="form-label">Cantidad de Alumnos Aprobados</label>
                <input type="number" class="form-control" formControlName="cantidadAprobados" id="cantidadAprobados"
                    (change)="updateCantidadAlumnos()" required>
            </div>
            <div class="mb-3">
                <label for="cantidadReprobados" class="form-label">Cantidad de Alumnos Reprobados</label>
                <input type="number" class="form-control" formControlName="cantidadReprobados" id="cantidadReprobados"
                    (change)="updateCantidadAlumnos()" required>
            </div>
            <div class="mb-3">
                <label for="cantidadAlumnos" class="form-label">Cantidad de Alumnos</label>
                <input type="number" class="form-control" id="cantidadAlumnos" formControlName="cantidadAlumnos"
                    readonly>
            </div>
            <div class="mb-3">
                <label for="problematica" class="form-label">Problemática de grupo</label>
                <select class="form-control" formControlName="problematica" id="problematica">
                    <option value="">Seleccione una problemática</option>
                    <option *ngFor="let problematica of problematicas" [value]="problematica.id">{{ problematica.nombre
                        }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Mayor dificultad para los estudiantes</label>
                <div formArrayName="mayorDificultad">
                    <div *ngFor="let dificultad of mayorDificultad?.controls; let i=index" [formGroupName]="i"
                        class="row">
                        <div class="col-md-5">
                            <input type="text" class="form-control" formControlName="razon" placeholder="Razón">
                        </div>
                        <div class="col-md-5">
                            <textarea rows="3" class="form-control" formControlName="observacion"
                                placeholder="Observación"></textarea>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" (click)="removeDificultad(i)">Eliminar</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3" (click)="addDificultad()">Agregar
                        dificultad</button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>